@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  /* border: 1px solid red; */

}

/* Responsive design */
/* Add hamburger menu icon on left side that opens up the nav bar */
@media (max-width: 540px) {
  .navbar {
    display: none;
  }
}
